<%= form_for @author, :html => { :multipart => true} do |f| %>
  <p>
    <%= f.label :name, :class => "control-label" %><br>
    <%= f.text_field :name, required: true, class: :"form-control", id: :"inputSuccess1" %>
  </p>
  
  <p><%= f.submit nil, class: :'btn btn-primary btn-block' %></p>
<% end %>